<div class="container">
    <ul>
        {{#each restaurant}}
            <li>Conocé :{{name}}</li>
            <li>Description: {{this.description}}</li>
            <li>Speciality: {{speciality}}</li>
            <li>Tel. Number: {{tel}} </li>
            <li>Web Site: {{url}}</li>
            <li>Email: {{email}}</li>
            <li>Street: {{street}},{{houseNumber}} </li>
            <li>neighborhood {{area}}</li>

        {{/each}}
    </ul>

    {{!-- <a href="/restaurants/{{restaurant._id}}/edit">Edit {{restaurant.name}}</a>
    <form action="/restaurants/{{restaurant._id}}/delete" method="POST">
        <button type="submit">Delete {{restaurant.name}}</button>
</form> --}}
    <a href="/">Return Home</a>
    <a href="/restaurants/{{_id}}/edit">Edit</a>
</div>