<div class="container">
    <div class="row mr-6">
        <div class="col">
            <ul>
                <div class="card profile-card-5">
                    <div class="card-img-block">
                        <img
                            class="card-img-top"
                            src="{{restaurant.imgPath}}"
                            alt="image"
                        />
                    </div>
                    <div class="card-body pt-0">
                        <h4 class="card-title">
                            <strong>{{restaurant.name}}</strong></h4>
                        <p class="card-text">
                            {{restaurant.description}}</p>
                        <p><strong></strong>
                            {{restaurant.description}}</p>
                        <p><strong></strong>
                            {{restaurant.speciality}}</p>
                        <p><strong></strong> {{restaurant.tel}} </p>
                        <p><strong></strong> {{restaurant.url}}</p>
                        <p><Strong /> {{restaurant.email}}</p>
                        <p><strong></strong>
                            {{restaurant.street}},{{restaurant.houseNumber}}
                        </p>
                        <p><strong></strong>
                            {{restaurant.area}}</p>

                    </div>

                </div>
                <a href="/restaurants/{{restaurant._id}}/edit">Edit</a>

                <form
                    action="/restaurants/{{restaurant._id}}/delete"
                    method="POST"
                >
                    <button type="submit">Delete Restaurant</button>
                </form>
            </ul>
        </div>

        {{! </div> }}
    </div>
</div>