<div class="container">
    <div class="row mr-6">
        <div class="col">
            <ul>
                <div class="card profile-card-5">
                    <div class="card-img-block">
                        <img
                            class="card-img-top"
                            src="{{restaurant.imgPath}}"
                            alt="image"
                        />
                    </div>
                    <div class="card-body pt-0">
                        <h4 class="card-title">
                            {{restaurant.name}}</h4>
                        <p class="card-text">
                            {{restaurant.description}}</p>
                        <p>
                            {{restaurant.description}}</p>
                        <p>
                            {{restaurant.speciality}}</p>
                        <p> {{restaurant.tel}} </p>
                        <p>
                            <a
                                href="{{restaurant.url}}"
                            >{{restaurant.url}}</a></p>
                        <p>{{restaurant.email}}</p>
                        <p>
                            {{restaurant.street}},{{restaurant.houseNumber}}
                        </p>
                        <p>
                            {{restaurant.area}}</p>

                    </div>

                </div>
                <a href="/restaurants/{{restaurant._id}}/edit">Edit</a>

                <form
                    action="/restaurants/{{restaurant._id}}/delete"
                    method="POST"
                >
                 <button type="submit" onclick="return confirm('Are you sure to delete?')" >Delete Restaurant</button>
                </form>
            </ul>
        </div>

        {{! </div> }}
    </div>
</div>