<h2>Edit your Restaurant here</h2>
<div>
    <form action="/restaurants/{{_id}}" method="POST">
    

        <label for="name">name:</label>
        <input type="text" name="name" value="{{name}}" />

        <label for="speciality">speciality:</label>
        <input type="text" name="speciality" value="{{speciality}}" />

        <label for="description">Description:</label>
        <textarea
            name="description"
            type="text"
            cols="30"
            rows="10"
            value="{{description}}"
        >Descripcion</textarea>

        <label for="url">URL:</label>
        <input type="text" name="url" value="{{url}}" />

        <label for="email">email:</label>
        <input type="text" name="email" value="{{email}}" />

        <label for="street">street:</label>
        <input type="text" name="street" value="{{street}}" />

        <label for="houseNumber">House number:</label>
        <input type="number" name="houseNumber" value="{{houseNumber}}" />

        <label for="area">Area:</label>
        <input type="text" name="area" value="{{area}}" />

        <button type="submit" >Guardar</button>
    </form>
</div>