<h4>Edit your Restaurant here</h4>

    <div class="container">
    <form
        action="/restaurants/{{_id}}" class='container' method="POST">
        <div class="row">
            <div class="col-lg-4 col-md-6 form-group mt-3">
                <input
                    type="text"
                    name="name"
                    value="{{name}}"
                    class="form-control"
                    id="name"
                    placeholder="Name"
                    data-rule="minlen:4"
                    data-msg="Please enter at least 4 chars"
                />
                <div class="validate"></div>
            </div>
            
            <div class="col-lg-4 col-md-6 form-group mt-3">
                <input
                    type="text" name="speciality"
               placeholder="Speciality"
               value="{{speciality}}"
                    class="form-control"
                    data-rule="minlen:4"
                    data-msg="Please enter at least 4 chars"
                />
                <div class="validate"></div>
            </div>
            
            <div class="col-lg-4 col-md-6 form-group mt-3">
                <input
                   type="text" placeholder="telefono" name="tel" 
                   value="{{tel}}"
                    class="form-control"
                    data-rule="minlen:4"
                    data-msg="Please enter at least 4 chars"
                />
                <div class="validate"></div>
            </div>

            <div class="col-lg-4 col-md-6 form-group mt-3">
                <input
                   type="text" name="url" placeholder="Web Page"
                    class="form-control"
                    value="{{url}}"
                    data-rule="minlen:4"
                    data-msg="Please enter at least 4 chars"
                />
                <div class="validate"></div>
            </div>

            <div class="col-lg-4 col-md-6 form-group mt-3">
                <input
                    type="email" name="email"
                     value="{{email}}"
                    class="form-control"
                    placeholder="Email"
                    data-rule="minlen:4"
                    data-msg="Please enter at least 4 chars"
                />
                <div class="validate"></div>
            </div>
            
            <div class="col-lg-4 col-md-6 form-group mt-3">
                <input
                    type="text" name="street"
                    value="{{street}}"
                    class="form-control"
                    placeholder="Street"
                    data-rule="minlen:4"
                    data-msg="Please enter at least 4 chars"
                />
                <div class="validate"></div>
            </div>

            <div class="col-lg-4 col-md-6 form-group mt-3">
                <input
                   type="number" name="houseNumber"
                   value="{{houseNumber}}"
                    class="form-control"
                    name="people"
                    id="people"
                    placeholder="House Number"
                    data-rule="minlen:1"
                    data-msg="Please enter at least 1 chars"
                />
                <div class="validate"></div>
            </div>
            <div class="col-lg-4 col-md-6 form-group mt-3">
                <input
                    type="text"
                     placeholder="Postal Code and City"
                    value="{{area}}"
                    name="Area"
                     class="form-control"
                     data-rule="minlen:4"
                    data-msg="Please enter at least 4 chars"
                />
                <div class="validate"></div>
            </div>

      <div class="col-lg-4 col-md-6 form-group mt-3">
                <input
                    type="file"
                    placeholder="file"
                    name="Image"
                    class="form-control"
                    data-msg="Please enter at least 4 chars"
                />
                <div class="validate"></div>
            </div>  

        </div>
        <div class="form-group mt-3">
            <textarea
                class="form-control"
              name="description"
               value="{{description}}"
                rows="5"
                placeholder="Description"
            ></textarea>
            <div class="validate"></div>
        </div>
        <button class="btn btn-success btn-block fa-lg gradient-custom-2 mt-3  p-2 center" type="submit">Save changes</button>
     
    </form>

    <form action="/restaurants/{{_id}}/delete" method="POST">
        <button class="btn btn-danger btn-block fa-lg gradient-custom-2  p-2 center" onclick="return confirm('Are you sure to delete?')" type="submit">Delete Restaurant</button>
    </form>

</div>
 </section>