<div class="container ">
    <div class="row mr-3 ">
        {{#each restaurant}}
 
            <div class="col-sm-12 col-md-4 card  my-2 ">
                <ul>
                    <div class="card profile-card-5">
                        <div class="card-img-block category">
                            <div class="overflow-hidden">
                                <a href="/restaurants/{{this._id}}">
                                <img
                                class="card-img-top card-img  img-fluid"
                                src="{{this.imgPath}}"
                                alt="Img, Restaurant"/></a>
                            </div>
                        </div>
                        <div class="card-body pt-0">
                            <h5 class="card-title"> {{this.name}}</h5>
                            <p>
                            {{this.speciality}}</p>
                                <p>
                            <a
                                href="{{this.url}}"
                            >{{this.url}}</a></p>
                            
                        </div>

                    </div>
                </ul>
            </div>
            
        {{!-- </a> --}}
        {{/each}}
    </div>
</div>