
<div class="card" style="width: 30rem;">
    <ul>
         {{#each restaurant}}
  <img class="card-img-top" src="..." alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">{{name}}</h5>
  	<img src={{this.imgPath}} alt="Image for" class="card-img">
    <p class="card-text">{{this.description}}</p>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">{{speciality}}</li>
    <li class="list-group-item">{{street}},{{houseNumber}}</li>
    <li class="list-group-item">{{area}}</li>
    <li class="list-group-item">{{tel}}</li>
    <li class="list-group-item">{{url}}</li>
    <li class="list-group-item">{{email}}</li> 
  </ul>
  <div class="card-body">
    <a href="restaurants/edit" class="card-link">Edit</a>
    <a href="restaurants/delete" class="card-link">Delete</a>
  </div>
  <hr/>
       {{/each}}
    </ul>
</div>