<div class="container">
    <ul>
        {{#each restaurant}}
        <a href="/restaurants/{{this._id}}/edit">
            <li>Conocé :{{name}}</li>
            <li>Description: {{this.description}}</li>
            <li>Speciality: {{speciality}}</li>
            <li>Tel. Number: {{tel}} </li>
            <li>Web Site: {{url}}</li>
            <li>Email: {{email}}</li>
            <li>Street: {{street}},{{houseNumber}} </li>
            <li>neighborhood {{area}}</li>
            <hr/>
            </a>
        {{/each}}
    </ul>

    {{#if message}}
<h3 >{{message}}</h3>
{{/if}}